
html {
  scrollbar-gutter: stable;
}

/* Divider */
hr {
    border: 2px solid #CAC5BA;
}

nav hr {
    margin:0;
}

/* Remove link underline */
a {
    text-decoration: none;
}

/* COLORS */
.sky,.hover-sky:hover{color:#857267!important;background-color:#CAC5BA!important}
.sand-bg,.hover-sand-bg:hover,.sand-bg,.hover-sand-bg:hover{color:#857267!important;background-color:#ECE5D9!important}
.light-text {color: #B6A390;}
.red,.hover-red:hover{color:#fff!important;background-color: #B3725F!important;}
.red-text {color:#B3725F!important;}
.dust,.hover-dust:hover{color:#fff!important;background-color: #857267!important;}
.charcoal{color:#fff!important;background-color: #313131!important;}

/* Site background */
.background {
background-image: url("https://raw.githubusercontent.com/Feravyre/feravyre.github.io/master/assets/images/background.png");
background-position: left top;
height:100%;
background-attachment:fixed;
background-repeat: no-repeat;
}


/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ECE5D9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CAC5BA;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CAC5BA;
}

main h1, h2, h3, h4, h5, h6 {
    margin: 15px 20px;
    font-weight: normal;
    font-family:'depixelschmal';

}

nav h3 {
    margin:0;
    line-height: 45px;
    font-family: 'avant_pixelregular';
    font-size: 32px;
    text-transform:uppercase;
    margin-bottom:0;
    padding-bottom:0;
    padding-top: 20px;
    
}

nav h3:hover {
    color: #B3725F;
}

nav a {
    font-family:'percy_pixelregular';
}

nav img {
    margin:0;
    padding:0;
    margin-top: -13px;
}


.nav-button{
    font-weight:normal!important;
    padding:8px 24px!important;
    font-size:22px;
}

.nav-button:hover {
    color:white!important;
    background-color: #B3725F!important;
}

.flex-socials {
    margin-top:-10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:0 5px;
    padding-bottom:15px;
}

.flex-socials > a {
    width:32px;
    height:32px;
}

.twitter {
    background: url("assets/images/social-icons/twitter-32.png") no-repeat;
}

.twitter:hover {
    background: url("assets/images/social-icons/twitter-32-hover.png") no-repeat;
    cursor:pointer;
}

.instagram {
    background: url("assets/images/social-icons/instagram-32.png") no-repeat;
}

.instagram:hover {
    background: url("assets/images/social-icons/instagram-32-hover.png") no-repeat;
    cursor:pointer;
}

.youtube {
    background: url("assets/images/social-icons/youtube-32.png") no-repeat;
}

.youtube:hover {
    background: url("assets/images/social-icons/youtube-32-hover.png") no-repeat;
    cursor:pointer;
}
.tumblr {
    background: url("assets/images/social-icons/tumblr-32.png") no-repeat;
}

.tumblr:hover {
    background: url("assets/images/social-icons/tumblr-32-hover.png") no-repeat;
    cursor:pointer;
}

.artstation {
    background: url("assets/images/social-icons/artstation-32.png") no-repeat;
}

.artstation:hover {
    background: url("assets/images/social-icons/artstation-32-hover.png") no-repeat;
    cursor:pointer;
}

.close-button {
    font-family: 'avant_pixelregular';
   text-transform:uppercase;
    margin-top:5px;
}

main {
    font-family: 'depixelklein';
    min-height: 600px;
}

main a {
    color:#B3725F;
}

.section-title{
    margin:0;
    text-align: left;
    font-weight: normal;
    font-family:'PixelPlay';
    font-size: 48px;
    padding-left: 16px;
    border-bottom: 4px solid #CAC5BA;
    margin-bottom: 0;
}

.flex-about {
    display:flex;
    align-items: stretch;
    min-height:600px;
    text-align:justify;
}

.about-title {
    font-family: 'PixelPlay';
    line-height:64px;
    margin-left: 20px;
    font-size:64px;
    margin-top:0;
}

main p, li {
    line-height: 1.2em;
    margin: 15px 20px;
    font-size: 18px;
}

.com-title {
    font-family: 'avant_pixelregular';
    text-transform: uppercase;
    font-size:24px;
}

main > div > .about-text {
    margin-top: 16px;
    width:75%;
}

main > div > .about-image {
    background-color:#857267;
    background-position: left;
    min-height:600px;
    width:100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
    flex-grow:2;
}

.psuedo-title {
    font-family: 'avant_pixelregular';
    font-size: 1.3em;
    text-transform:uppercase;
}

.big {
    font-size: 2em;
    padding: 0px 32px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column-left {
    flex: 1;
    text-align: left;
}

.column-right {
    width: 200px
}

#navbar > details > summary {
    font-family:'percy_pixelregular';
}

.text-upper {
    text-transform:uppercase;
}

.text-lower {
    text-transform:lowercase;
}

#navbar > details > summary {
    width:252px!important;
}

#navbar > details > a {
    width:252px!important;
}

.summary-button:after {
  content: '\002B';
  float: right;
  margin-left: 5px;
  font-family:'percy_pixelregular';
}

details[open] > .summary-button:after {
  content: "\2010";
  font-family:'percy_pixelregular';
}

.tos-list {
    
}

.tos-list > li {
    list-style-type: '\25B8';
    padding:2px 0 2px 5px;
}